<header class="bg-primary-gradient pt-5">
  <div class="container py-4 py-xl-5">
    <div class="row gy-4 gy-md-0">
      <div class="col-md-6 text-center text-md-start d-flex d-sm-flex d-md-flex justify-content-center align-items-center justify-content-md-start align-items-md-center justify-content-xl-center">
        <div style="max-width: 350px;">
          <h2 class="text-uppercase fw-bold">Blackbird</h2>
          <p class="my-3">Die App, die dir eine Statische Auswertung über deine gefolgten Medien und Favoriten Themen Grafisch wiedergibt</p><button class="btn btn-primary shadow-lg" data-bss-hover-animate="pulse" type="button" (click)="goToTable()">Start</button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="p-xl-5 m-xl-5"><img class="rounded img-fluid w-100 fit-cover" style="min-height: 300px;" src="../../../assets/img/Exciting%20news-rafiki.svg"></div>
      </div>
    </div>
  </div>
</header>
